.hero-section {
    background-image: linear-gradient(45deg, orange, red, purple);
    height: 50vh;
    padding: 10% 20px;
    text-align: center;
}

.hero-section h1 {
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-section div {
    color: white;
    font-size: 20px;
}